body {
    margin: 0px;

    /*  After setting the position of the header to be fixed, it seems that the header is covering the video-grid! This is because fixed elements are removed from the normal document flow, and no space is created for the elements in the page layout!!! That is to say, header is removed and video-grid goes up!
    
    To fix this issue, we can add margin-top to the video-grid, but the best solution is to add padding-top to the body!!! */
    padding-top: 80px;

    /* The sidebar is covering the video-grid, we can add padding-left to the body! */
    padding-left: 80px;
}

p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}