.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    background-color: lightblue;
    width: 150px;
}

/* 
The left and right section have fixed width, but the middle section resizes when resizing the window! Thus we should use a relative unit, 1 fr in grid and flex: 1 in flexbox! 

When enlarging the window, the middle section stops streching when it reaches the maximum width! Thus we should set a max-width!

When shrinking the window, the middle section at least has a short distance with left and right sections! Thus we should set margin-left and margin-right!  
*/
.middle-section {
    background-color: lightpink;
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px; 
}

.right-section {
    background-color: lightblue;
    width: 200px;
}

.search-bar {
    display: block;
 }